* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #fff;
  overflow-x: hidden;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 15px;
  margin-top: 60px;
  text-align: left;
}

.form input {
  width: 100%;
}

.seccion {
  text-align: left;
  display: block;
  margin-top: 15px;
  font-size: 14px;
}

.textarea {
  width: 100%;
  height: 105px;
  border: 1px solid #b8b8b9;
}

.button {
  width: 100%;
  height: 45px;
  text-transform: uppercase;
  color: white;
  background-color: #099d8d;
  border-style: none;
  border-radius: 3px;
  margin: 30px 0 60px 0;
}

.container {
  position: relative;
}

.imagen-principal {
  background: url("../images/cabecera.jpg") no-repeat left center;
  background-size: cover;
  height: 421px;
  position: relative;
}

.claim-box {
  background-color: #fff;
  padding: 15px;
  margin: 15px;
  top: 360px;
  position: absolute;
}

.claim {
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  border-top: 1px solid lightgrey;
}

.enmedio {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #b8b8b9;
  padding-top: 30px;
  margin-bottom: 20px;
}

.nav-footer {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  list-style: none;
}

.nav-footer li {
  margin-top: 20px;
}

.footer-link {
  text-decoration: none;
  color: #54585a;
  -webkit-transition: color ease 0.3s;
  transition: color ease 0.3s;
}

.footer-link:hover {
  color: #14d9c4;
  text-decoration: underline;
}/* si utilizo un wraper envolviendo el contenido del body xk no me coje les medidas 100vh para hacer la linea gris? */.imagen-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 45px;
  margin-top: 30px;
}

.header {
  position: fixed;
  height: 105px;
  width: 100vw;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: rgba(9, 157, 141, 0.9);
}

.title {
  color: #fff;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  height: 60px;
  width: 100%;
  padding: 20px;
  display: inline-block;
}

.title-link {
  text-decoration: none;
  color: #fff;
  -webkit-transition: color ease 0.3s;
  transition: color ease 0.3s;
}

.title-link:hover {
  color: #54585a;
}

.nav-menu {
  list-style: none;
  background-color: rgba(20, 217, 196, 0.9);
  height: 45px;
  width: 100%;
  top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-link {
  color: #fff;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: color ease 0.3s;
  transition: color ease 0.3s;
}

.nav-link:hover {
  color: #54585a;
}

.contenedor-form {
  font-family: 'Open Sans', sans-serif;
  color: #54585a;
}

.contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  padding-top: 70px;
}

.titulo-contacto {
  margin: 30px auto 15px auto;
  font-size: 20px;
  font-weight: 700;
  color: #099d8d;
}

.texto-contacto {
  margin: 0 30px;
}

.recomendacion {
  margin-top: 45px;
  color: #54585a;
  font-size: 12px;
}

.asterisco {
  color: #14d9c4;
}/* FIRST MAIN */.ancla-equipo {
  display: block;
  position: relative;
  top: -60px;
  visibility: hidden;
}

.contenedor {
  margin-top: 70px;
}

.contendor-equipo {
  display: block;
  width: 320px;
  padding-top: 30px;
  margin-bottom: 30px;
}

.parrafo-1 {
  color: #54585a;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-align: center;
  padding-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.fortalezas-y-debilidades {
  background-color: #f1f1f1;
}

.contenedor-fortalezas {
  padding-top: 30px;
}

.contendor-debilidades {
  padding-bottom: 45px;
}

.verde {
  color: #099d8d;
  font-family: 'Rubik', sans-serif, '400';
  font-size: 24px;
  text-align: center;
}

.parrafo-2 {
  color: #54585a;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-align: center;
  padding-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 30px;
}

.parrafo {
  color: #54585a;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-align: center;
  padding-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 30px;
}

.subtitulo {
  font-size: 22px;
}

.triangulo {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-top: 15px solid white;
  border-left: 15px solid #f1f1f1;
  border-right: 15px solid #f1f1f1;
}/* SECOND MAIN */.ancla-quienes-somos {
  display: block;
  position: relative;
  top: -110px;
  visibility: hidden;
}

.quienes-somos {
  margin: 0;
  padding: 0;
}

.bio-contenedor {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
  max-width: 924px;
  margin: 0 auto;
  padding: 0 15px 45px;
}

.titulo {
  color: #099d8d;
  font-family: 'Rubik', sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.bio-contenido {
  text-align: center;
}

.bio-contenido h4 {
  color: #000;
  font-size: 20px;
  font-weight: normal;
}

.bio-foto {
  width: 180px;
  height: auto;
  margin: 0 auto;
  border: 4px solid #b8b8b9;
  border-radius: 5%;
}

.bio {
  margin-bottom: 15px;
  margin-top: 15px;
  font-weight: lighter;
  color: #54585a;
}

.redes-sociales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  list-style: none;
  padding: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.redes-sociales .link a {
  color: #099d8d;
}

.redes-sociales .link::before {
  display: inline-block;
  margin: 5px 10px;
  width: 3px;
  height: 3px;
  background-color: #099d8d;
  border-radius: 10px;
  content: '';
}

.redes-sociales .link:first-child::before {
  content: none;
}

@media all and (min-width: 768px) {
  .claim-box {
    background-color: #ffffff90;
    top: 326px;
    width: 441px;
    padding: 15px 30px 15px 30px;
    margin-left: 50px;
  }

  .footer {
    width: 100%;
    position: relative;
    border: 0 solid grey;
  }

  .enmedio {
    position: absolute;
    margin-bottom: 15px;
    margin-left: 30px;
  }

  .nav-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding-top: 5px;
    padding-bottom: 60px;
    margin-right: 30px;
  }

  .imagen-footer {
    margin: 0;
    padding: 0;
    margin-left: 30px;
    position: absolute;
    bottom: 60px;
  }

  .contacto {
    width: 442px;
  }

  .button {
    width: 206px;
    height: 45px;
    -ms-flex-item-align: end;
    align-self: flex-end;
  }

  .navigator {
    border-top: 1px solid lightgrey;
  }

  .header {
    height: 60px;
  }

  .box-header {
    width: 100vw;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
  }

  .title {
    width: 50vw;
    padding-left: 45px;
    text-align: left;
  }

  .nav-menu {
    background-color: rgba(9, 157, 141, 0);
    height: 60px;
    top: 0;
    width: 50vw;
    padding-right: 45px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .nav-link {
    padding-left: 20px;
  }

  .contenedor {
    margin-top: 45px;
  }

  .contenedor-equipo {
    margin-bottom: 60px;
  }

  .wrapper2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .fortalezas-y-debilidades {
    margin-bottom: 60px;
  }

  .contenedor-fortalezas {
    width: 50%;
    padding: 45px 15px 60px 30px;
  }

  .contenedor-debilidades {
    width: 50%;
    padding: 45px 30px 60px 15px;
  }

  .quienes-somos .titulo {
    margin-bottom: 45px;
  }

  .quienes-somos {
    padding-left: 45px;
    padding-right: 45px;
  }

  .bio-contenedor {
    display: grid;
    grid-template-columns: 210px 1fr 210px;
    grid-auto-flow: dense;
    grid-gap: 30px;
    max-width: 924px;
    margin: 0 auto;
    padding-bottom: 60px;
  }

  .redes-sociales {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .bio-contenido {
    grid-column: span 2;
    text-align: left;
  }

  .bio-contenido.izquierda {
    text-align: right;
    margin-left: auto;
  }

  .bio-contenido.izquierda .redes-sociales {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .bio-contenido h4 {
    margin-top: 15px;
  }

  .bio {
    max-width: 439px;
  }

  .bio-foto {
    width: 100%;
  }

  .bio-foto.derecha {
    grid-column-start: 3;
  }
}

@media all and (min-width: 1200px) {
  .wrapper {
    max-width: 924px;
    margin: 0 auto;
  }

  .imagen-principal {
    height: 550px;
    width: 100vw;
    margin: auto;
  }

  .container-claim-box {
    max-width: 924px;
    height: 550px;
    margin: auto;
    position: relative;
  }

  .claim-box {
    top: 455px;
    position: absolute;
  }

  .claim {
    font-size: 24px;
  }

  .footer {
    width: 924px;
    margin: 0 auto;
  }

  .navigator {
    border: none;
  }

  .raya {
    border: 1px solid lightgrey;
    width: 100vw;
    margin-right: 10px;
  }

  .header {
    width: 100vw;
    background-color: rgba(9, 157, 141, 0.9);
  }

  .box-header {
    max-width: 924px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .title {
    max-width: 462px;
  }

  .nav-menu {
    max-width: 462px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .parrafo-1 {
    text-align: center;
    width: 601px;
    margin: auto;
  }

  .wrapper2 {
    width: 924px;
    margin: auto;
  }

  .contenedor-fortalezas {
    padding: 45px 25px 60px 30px;
  }

  .contenedor-fortalezas {
    width: 50%;
    padding: 45px 30px 60px 25px;
  }

  .parrafo-2 {
    text-align: center;
    width: 601px;
    margin: auto;
  }

  .bio-contenedor {
    grid-template-columns: 278px 1fr 278px;
  }
}

/*# sourceMappingURL=main.css.map */
