*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
}


body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #fff;
}

/* HERO SECTION */

.imagen-principal {
  background: url("./images/cabecera.jpg") no-repeat left center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 421px;
  position: relative;
}

.title {
  background-color: rgba(9, 157, 141, 0.9);
  color: #fff;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  height: 60px;
  width: 100%;
  padding: 20px;
  display: inline-block;
  z-index: 10;
  position: fixed;
}

.nav-menu {
  list-style: none;
  background-color: rgba(20, 217, 196, 0.9);
  height: 45px;
  width: 100%;
  top: 60px;
  z-index: 10;
  position: fixed;
  display:flex;
  justify-content:space-around;
  align-items: center;
  color: #fff;

}

.nav-link {
  color: #fff;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
}

.container {
  position: relative;
}

.claim-box {
  background-color: #fff;
  padding: 15px;
  margin: 15px;
  top:360px;
  position: absolute;
}

.claim {
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.text {
  background-color: #fff;
  z-index: 5;
  margin-top: 40px;
}

.equipo{
  text-transform: uppercase;
  text-align: center;
  color: #099d8d;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 24px;
  padding-top: 30px;
  padding-bottom: 15px;
}

/* FIRST MAIN */

.contenedor {
  margin-top: 70px;
}

.contendor-equipo{
  display:block;
  width: 320px;
  padding-top: 30px;
  margin-bottom: 30px;
}

.contenedor-fortalezas {
  padding-top: 30px;
}

.contendor-debilidades {
  padding-bottom: 45px;
}

.fortalezas-y-debilidades {
  background-color: #f1f1f1;
}

.verde{
  color:#099D8D;
  font-family: 'Rubik', sans-serif,'400';
  font-size:24px;
  line:45px;
  text-align: center;
}

.parrafo{
  color: #54585A;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line: 24px;
  text-align: center;
  padding-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 30px;
}

.subtitulo {
  font-size: 22px;
}


.triangulo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-top: 15px solid white;
  border-left: 15px solid #F1F1F1;
  border-right: 15px solid #F1F1F1;
}

/* SECOND MAIN */

.quienes_somos{
margin: 0;
padding: 0;
border: 2px solid black;
}

.titulo {
  color: #099d8d;
  font-family: 'Rubik', sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.contenedor-biografia {
  text-align: center;
  margin-bottom: 45px;
  padding: 0 15px 0 15px;
  width: 100%;;
}

.contenedor-biografia h4 {
  color: #000000;
  font-size: 20px;
  font-weight: normal;

}

.foto {
  margin-bottom: 15px;
  border:4px solid #b8b8b9;
  border-radius: 5%;
}

p {
  margin-bottom: 15px;
  margin-top: 15px;
  font-weight:lighter;
  color: #54585a;

}
.fab, .fas {
  color: #099d8d;
}

.redes-sociales {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
}

.redes-sociales li{
  width: 30px;
  height: 30px;
  margin: 0 5px;
}


/****************FOOTER***************/

.footer {
  text-align: center;
}

.enmedio {
  border-top-style:solid;
  border-color: grey
  font-size:14px;
  font-family: 'Open Sans', sans-serif;
  line:20px;
  color:#b8b8b9;
  margin: 0 auto;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 20px;
}

.nav-footer {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  list-style-type: none;
  text-transform: uppercase;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%;
}

.footer-link :link :visited :active {
  text-decoration: none;
  color:#54585A;
}

.imagen-footer{
  margin: 0 auto;
  margin-bottom: 45px;
  margin-top: 30px;
  width: 100%;
}
