// COLORES

$color-primary: #099d8d;
$color-primary-transparent: rgba(9, 157, 141, 0.9);
$color-secondary: #14d9c4;
$color-secondary-transparent: rgba(20, 217, 196, 0.9);
$color-ligth: #fff;
$color-dark: #000;
$color-darktone: #54585a;
$color-midtone: #f1f1f1;
$color-ligthtone: #b8b8b9;
