.container {
  position: relative;
}

.imagen-principal {
  background: url("../images/cabecera.jpg") no-repeat left center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 421px;
  position: relative;
}

@media all and (min-width: 1200px) {
  .imagen-principal {
    height: 550px;
    width: 100vw;
    margin: auto;
  }
}

.claim-box {
  background-color: #fff;
  padding: 15px;
  margin: 15px;
  top: 360px;
  position: absolute;
}

@media all and (min-width: 768px) {
  .claim-box {
    background-color: #ffffff90;
    top: 326px;
    width: 441px;
    padding: 15px 30px 15px 30px;
    margin-left: 50px;
  }
}

@media all and (min-width: 1200px) {
  .container-claim-box {
    max-width: 924px;
    height: 550px;
    margin: auto;
    position: relative;
  }

  .claim-box {
    top: 455px;
    position: absolute;
  }
}

.claim {
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

@media all and (min-width: 1200px) {
  .claim {
    font-size: 24px;
  }
}
